.custom-form .verify-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex-grow: 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    background-color: #4e03b0ae;
    cursor: pointer;
    flex-shrink: 0;
}

.custom-form .url-form {
    display: flex;
    align-items: center;
    justify-content: start; 
    gap: 3rem;
}
