.last-interactions {
    font-size: 5.5rem;
    color: #0f0e46;
    font-weight: 800;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
    grid-area: price;
  }