.main-layout {
    position: relative;
    min-width: 700px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3rem;
    /* background-color: #fa3a3a4d; */
}
@media screen and (max-width: 768px) {
    .main-layout {
        min-width: 100%;
        min-height: 100%;
        padding: 1.5rem 1rem;
    }
    
}