@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --color-primary: #0d4d38f5;
  --color-neutro: rgb(61, 61, 61);
  --color-secondary: #bef1b8f0;
  --color-contrast: #4e03b0ae;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-color: #0d4d38f5;
  padding-top:5rem; 
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

a {
  color: rgb(82, 255, 119);
}
